<!DOCTYPE html>
<html>
    <title> Home Page</title>
    <body>

      <h1> Home Page</h1>
      <h3> Transflower Pvt.Ltd</h3>
      </body>
    <hr>
      <ul>
        <li>full Stack Development</li>
        <li>Android Development</li>
        <li>Web Development</li>
      </ul>
    </body>
</html>