<!-- ejs is uesd for making index file  -->
<!DOCTYPE html>
<html>
    <head>
        <title>basic ejs application</title>
    </head>
    <body>
        <h1>Transflower Learning Pvt. Ltd.</h1>
        <hr>
        <hr>
        <h2>Welcome to our platform. this is our new project name as</h2>
         <b><i><p>MVC application</p></i></b>

    </body>
</html>