.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product {
    border: 1px solid #ddd;
    padding: 16px;
    margin: 16px;
    width: 200px;
    text-align: center;
}

    .product img {
        max-width: 100%;
        height: auto;
    }
