/* src/SimpleCarousel.css */
.carousel {
    position: relative;
    width: 80%;
    margin: auto;
    overflow: hidden;
  }
  
  .carousel-image {
    width: 100%;
    display: block;
  }
  
  .carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
  }
  
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }
  