<!DOCTYPE html>
<html>
    <head>
        <title>basic ejs application</title>
    </head>
    <body>
        <h1>Transflower Learning Pvt. Ltd.</h1>
        <hr>
        <hr>
       <u><h2>Services</h2></u>
         <i><p><b>Fontend: </b>HTML, CSS, JS, React</p></i>
         <i><p><b>Backend: </b>mysql, oracle, mangodb</p></i>
         <i><p><b>fullStack: </b>c++, C#, java, NodeJs</p></i>
    </body>
</html>