<!-- ejs is uesd for making index file  -->
<!DOCTYPE html>
<html>
    <head>
        <title>basic ejs application</title>
    </head>
    <body>
        <h1>Transflower Learning Pvt. Ltd.</h1>
        <hr>
        <hr>
        <h2>Login</h2>
        <form action="/login" method="post">
       <table>
        <tr>
            <td>username:</td>
            <td><input type="text" name="username" id="username"></td>
        </tr>
        <tr>
            <td>password:</td>
            <td><input type="password" name="password" id="password"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="login"></td>
        </tr>

       </table>
</form>
    </body>
</html>