<!-- ejs is uesd for making index file  -->
<!DOCTYPE html>
<html>
    <head>
        <title>basic ejs application</title>
    </head>
    <body>
        <h1>Transflower Learning Pvt. Ltd.</h1>
        <hr>
        <hr>
        <h2>User not found</h2>
         <b><i><p>try again</p></i></b>
         <a href="/login">sign up</a>
    </body>
</html>
hkhukhkukiuh